
.header {
    text-align: center;
    margin: 24px 0;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 24px;
}

.mainContent {
    flex-grow: 1;
}

.sidebar {
    flex-basis: 300px;
    padding-left: 24px;
}

.history {
    text-align: left;
    margin: 0 24px;
}
